Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
*~
install-sh
libtool
ltmain.sh
.libs/
rpmbuild/
build/
m4/
missing
compile
depcomp
.deps/
stamp-h?
*.o
*.lo
*.la
*.pc
*.spec
*bz2
*.service
py-compile
test-driver
*.trs
*.log
.git/hooks/pre-commit
cthon04
pjdfstest
